---
import Hamburger from '../components/Hamburger.astro';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "About me";
const identity = {
    firstName: "Mounir",
    country: "Italy",
    occupation: "Student",
    hobbies: ["gym", "build up things", "guitar"]
}
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---
<BaseLayout pageTitle={pageTitle}>
    <h2>this is the about me page</h2>
    <p>A few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}</li>
        <li>I live in {identity.country}</li>
        <li>I'm currently a {identity.occupation}</li>
        {identity.hobbies.length >= 2 && 
            <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>}
    </ul>
    <p>My skills are:</p>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
</BaseLayout>
